._white {
  background: #fff;
  height: 778px;
  border: 1px solid transparent;
  text-align: center;
}
._black {
  background: #f5f5f6;
  height: 835px;
  border: 1px solid transparent;
  text-align: center;
}

._white h2,._black h2 {
  font-size: 40px;
  color: rgba(17, 17, 17, 1);
  margin-top: 100px;
}
._white h3,._black h3 {
  width: 960px;
  margin:30px auto;
  font-size: 18px;
  line-height: 30px;
  color: #666;
 
}
._bgone {
  margin-top: 30px;
  background: url(../../imgs/multi/1.png) no-repeat;
  height: 560px;
}
._bgtwo {
  margin-top: 30px;
  background: url(../../imgs/multi/2.png) no-repeat;
  height: 560px;
}
._bgthree {
  margin-top: 30px;
  background: url(../../imgs/multi/3.png) no-repeat;
  height: 560px;
}
._bgfour {
  margin-top: 30px;
  background: url(../../imgs/multi/4.png) no-repeat;
  height: 560px;
}
._bgfive {
  margin-top: 30px;
  background: url(../../imgs/multi/5.png) no-repeat;
  height: 560px;
}
._left {
  width: 550px;
  padding: 120px;
  padding-top: 100px;
  text-align: left;
}
._right {
  width: 550px;
  float: right;
  margin-right: 20px;
  padding-top: 80px;
  text-align: left;
}
._white h4:first-child,._black h4:first-child {
  font-size: 20px;
  padding-top:0px; 
  color: rgba(17, 17, 17, 1);
}
._white h4,._black h4 {
  font-size: 20px;
  /* border:1px solid red; */
  padding-top:30px; 
  color: rgba(17, 17, 17, 1);
}
._white h4::before,._black h4::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  background: #fd625c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
._desc {
  padding: 10px 25px;
  font-size: 16px;
  color: rgba(102, 102, 102, 1);
  line-height: 36px;
}
