._banner {
    position: relative;
}
._banner .swiper-slide a {
	display: block;
	height: 855px;
	width: 1920px;
	overflow: hidden;
	text-decoration: none;
	color: #fff;
	font-size: 34px;
	font-family: Microsoft YaHei, Georgia, Serif;
}
.swiper-content {
    width: 800px;
	margin-top: 223px;
    margin-left: 535px;
    text-align: left;
}
.swiper-content-title1 {
    display: flex;
    align-items: center;
}
.swiper-content-title1 h1 {
    font-size: 100px;
}
.swiper-content-title1 img {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}
.swiper-content-title2 {
    font-size: 44px;
    margin-top: 20px;
    line-height: 72px;
}
.swiper-content-title3 {
    font-size: 44px;
    margin-top: 10px;
}
.swiper-pagination {
    bottom: 215px !important;
}
.my-bullet {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin-right: 155px;
    text-align: center;
    border: 1px solid #fff;
    cursor: pointer;
    transform: rotate(45deg);
}
.my-bullet:nth-of-type(4) {
    margin-right: 0;
}
.my-bullet .big-dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
}
.my-bullet-active {
    border: 1px solid #1CB0BE;
    background: #4A605C;
}
.my-bullet-active .big-dot {
    background: #58EBFF;
}
.swiper-dot1, .swiper-dot2, .swiper-dot3 {
    position: absolute;
    width: 135px;
    height: 10px;
    list-style: none;
    bottom: 231px;
    left: 708px;
    z-index: 100;
}
.swiper-dot1 .dot, .swiper-dot2 .dot, .swiper-dot3 .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 13px;
    background: #fff;
}
.swiper-dot2 {
    left: 895px;
}
.swiper-dot3 {
    left: 1082px;
}