._retail_fifth {
    width: 100%;
    height: 600px;
    padding-top: 100px;
    text-align: center;
    background: url(../../imgs/services/bg.png);
    background-size: cover;
}

._retail_fifth ._title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 50px;
}
._retail_fifth ._container {
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
}
._retail_fifth ._service-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 400px;
    padding-left: 36px;
    padding-right: 36px;
    margin-right: 50px;
    box-sizing: border-box;
    border: 1px solid #fff;
}
._retail_fifth ._service-item:nth-of-type(5) {
    margin-right: 0;
}
._retail_fifth ._service-item img {
    width: 52px;
    height: 52px;
    margin-bottom: 36px;
}
._retail_fifth ._service-item h3 {
    font-size: 24px;
    font-weight: 400;
    color:rgba(230,230,230,1);
    margin-bottom: 30px;
}
._retail_fifth ._service-item div {
    font-size: 14px;
    line-height: 22px;
    width: 166px;
    color:rgba(230,230,230,1);
    text-align: left;
}
._retail_fifth ._service-item ._btn {
    display: none;
    width: 124px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    color:rgba(255,254,254,1);
    text-align: center;
    font-size: 12px;
    border:1px solid rgba(255,255,255,1);
}

._retail_fifth ._service-item:hover {
    border: 1px solid transparent;
    border-bottom: none;
    animation: change 0.5s ease-out;
    animation-fill-mode: forwards;
    background: linear-gradient(0deg,rgba(120,94,251,0.7) 0%,rgba(252,98,93,1) 100%);
}
._retail_fifth ._service-item:hover ._btn {
    display: block;
    cursor: pointer;
}
@keyframes change {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}