._retail_second {
    width: 100%;
    height: 1008px;
    text-align: center;
}
.scroll-box {
    height: 50px;
    padding-left: 360px;
    padding-right: 360px;
    overflow: hidden;
    background: #F7F8FB;
}
.scroll-box ul {
    list-style: none;
    width: 100%;
    height: 100%;
}
.scroll-box ul li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 50px;
    font-size: 14px;
}
.scroll-box ul li:hover {
    cursor: pointer;
}
.scroll-box ul li ._left .icon {
    width: 34px;
    height: 18px;
    border: 1px solid rgba(231,72,84,1);
    border-radius: 2px;
    color: #E74854;
    font-size: 12px;
    margin-left: 5px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.scroll-box ul li ._right img {
    width: 7px;
    height: 12px;
    margin-left: 15px;
}
._retail_second-title {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size:40px;
    font-weight:400;
    color: rgba(17,17,17,1);
}
._retail_second-desc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    color: rgba(102,102,102,1);
}
._retail_second-subtitle {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(51,51,51,1);
}
._retail_second-contailer {
    width: 100%;
}
._retail_second-items {
    margin-left: 350px;
    margin-right: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

._retail_second-items ._icon {
    width: 210px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
._retail_second-items ._icon img {
    margin-bottom: 20px;
    transform: translateY(40px);
}
._retail_second-items ._icon ._line {
    visibility: hidden;
    width: 30px;
    height: 2px;
    background-color: #FD625C;
    margin-bottom: 20px;
}
._retail_second-items ._icon ._title {
    font-size:24px;
    font-weight: 400;
    transform: translateY(20px);
    color:rgba(17,17,17,1);
}
._retail_second-items ._icon ._desc {
    visibility: hidden;
    margin-top: 18px;
    font-size:14px;
    font-weight: 400;
    height: 84px;
    text-align: left;
    line-height: 24px;
    width: 210px;
    color:rgba(102,102,102,1);
}
._retail_second-items ._icon:hover {
    cursor: pointer;
    box-shadow:0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
._retail_second-items ._icon:hover img {
    transform: translateY(0);
}
._retail_second-items ._icon:hover ._line {
    visibility: visible;
}
._retail_second-items ._icon:hover ._title {
    color:rgba(253,98,92,1);
    transform: translateY(0);
}
._retail_second-items ._icon:hover ._desc {
    /* display: block; */
    visibility: visible;
}
._retail_second-items ._icon:hover #my-icon1 {
    content: url(../../imgs/icons/model-r.png)
}
._retail_second-items ._icon:hover #my-icon2 {
    content: url(../../imgs/icons/reward-r.png)
}
._retail_second-items ._icon:hover #my-icon3 {
    content: url(../../imgs/icons/manager-r.png)
}
._retail_second-items ._icon:hover #my-icon4 {
    content: url(../../imgs/icons/market-r.png)
}
._retail_second-items ._icon:hover #my-icon5 {
    content: url(../../imgs/icons/retailxd-r.png)
}
._retail_second-items ._icon:hover #my-icon6 {
    content: url(../../imgs/icons/yunsd-r.png)
}
._retail_second-items ._icon:hover #my-icon7 {
    content: url(../../imgs/icons/apply-r.png)
}
._retail_second-items ._icon:hover #my-icon8 {
    content: url(../../imgs/icons/store-r.png)
}
._retail_second-items ._icon:hover #my-icon9 {
    content: url(../../imgs/icons/material-r.png)
}
._retail_second-items ._icon:hover #my-icon10 {
    content: url(../../imgs/icons/backto-r.png)
}
._retail_second-footer {
    font-size: 14px;
    font-weight: 400;
    color:#333;
    margin-top: 30px;
}
._retail_second-footer span {
    font-size: 14px;
    font-weight:400;
    color:#FD625C;
    cursor: pointer;
    margin-right: 8px;
}
._retail_second-footer div {
    display: inline;
}
._retail_second-footer div img {
    width: 12px;
    height: 10px;
}
