a, a:hover { text-decoration: none; color: #333; }
ul, li { list-style: none; }
svg{
	fill: currentColor;
}
.mt-tabpage {
	width: 1440px;
	overflow: hidden;
	height: 580px;
	margin: 30px auto;
	text-align: center;
	background-color: #FFFFFF;
}
.mt-tabpage-title {
	height: 44px;
	font-size: 0;
	width: 100%;
	margin: 0 auto;
	background: transparent;
	border-bottom: 1px solid #6A6A6A;
}
.mt-tabpage-title .mt-tabpage-item {
	display: inline-block;
	width: 105px;
	height: 44px;
	margin-right:24px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 24px;
}
.mt-tabpage-title .mt-tabpage-item-cur {
	font-size: 24px;
	border-bottom: 4px solid #F85B5E;
}
.mt-tabpage-count {
    position: relative;
    width: 1920px;
    margin: 0 auto;
    margin-top: 60px;
}
.mt-tabpage-cont__wrap {
	position: absolute;
}
.mt-tabpage-count .mt-tabpage-item {
    position: relative;
	width: 1920px;
}

/* .swiper-slide {
	background: black;
	color: white;
} */
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }