.mg-rows {
    position:relative;
}
.mg-trigger{
    cursor: pointer;
}
.mg-space {
    display:none;
    position:relative !important;
    width:100%;
    float:left;
    border:1px solid yellow;
}
.mg-target {
    display:none;
    background:#F5F5F6;
    color:#777;
    position:absolute ;
    top:0px ;left:0  ;right:0  ;
}
.mg-target-open {
    position:absolute ;
    top:0px ;left:0  ;right:0  ;
}
.mg-indicator {
    position: absolute;
    border-bottom: 20px solid #F5F5F6;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    top: -21px !important;
    width: 0;
}
.mg-close {
    display: none;
    background: url(data:image/gif;base64,R0lGODlhFAAUAJEAAE1NTf///////wAAACH5BAEHAAIALAAAAAAUABQAAAIzBISpK+YMm5Enpodw1HlCfnkKOIqU1VXk55goVb2hi7Y0q95lfG70uurNaqLgTviyyUoFADs=) no-repeat center center;
    cursor: pointer;
    height: 30px;
    padding: 7px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    z-index: 2;
}
.mg-close:hover {
    opacity: .5;
}
._text{
    text-align: center;
}
.mg-targets ._contents {
    width: 530px;
    text-align: left;
    border:1px solid red;
}
.mg-targets ._contents ._title{
    padding-top: 80px;
    color: #333;
    font-size:20px;
    font-weight:700;
    margin-left: 20px;
}

.mg-targets ._contents div{
    width: 500px;
    text-align: left;
}
._contents img{
    width: 300px;
    text-align: left;
}

.mg-targets ._contents ul li {
    color: #777;
    font-size: 14px;
    min-height: 28px;
    line-height: 28px;
    padding-top:28px;
}
.mg-targets ._contents ul li i  {
    margin-top:6px;
    float: left;
    width: 10px;
    height: 10px;
    display: block;
    margin-right: 10px;
    background-color: #FD625C;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}