
.focusBox { position: relative; width:100%; height:940px; overflow: hidden; color:#fff }
.focusBox .pic{ position:relative; z-index:0; }
.focusBox .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.focusBox .hd li{margin: 0 5px; background: url(../../imgs/retail/banner/dot.png) no-repeat 0 -16px; height: 16px; overflow: hidden; width: 16px; cursor: pointer;
    display:inline-block; *display:inline; zoom:1;  _background: url(../../imgs/retail/banner/dot8.png) no-repeat 0 -16px;
}
.focusBox .hd .on{ background-position:0 0; }

.focusBox .prev,
.focusBox .next { width: 60px; height: 90px; margin: -60px 0 0; display: none; background: url(images/ad_ctr.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=20);opacity:0.2;  }
.focusBox .prev { left: 0; }
.focusBox .next { background-position: 0 -90px; right: 0; }
.focusBox .prev:hover,
.focusBox .next:hover { filter:alpha(opacity=50) !important;opacity:0.5 !important;  }
.focusBox .pic li h1 {position:absolute;font-size: 50px;top:350px;}
.focusBox .pic li .content {position:absolute;font-size: 60px;top:450px;}
.focusBox .pic li .sub {position:absolute;font-size: 30px;top:550px;}