@charset "UTF-8";

html {
	font-size: 62.5%;
	font-family: 'helvetica neue', tahoma, arial, 'hiragino sans gb', 'Simsun', sans-serif
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
hr {
	margin: 0;
	padding: 0
}

body {
	line-height: 1.333;
	font-size: 12px;
	font-family: Microsoft YaHei, Georgia, Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-family: arial, 'hiragino sans gb', 'microsoft yahei', 'Simsun', sans-serif
}

li {
	list-style: none
}

a:link,
a:visited {
	text-decoration: none
}



._logo {
	position:absolute;
	z-index: 1000;
	/* padding: 30px; */
	height: 60px;
	width: 1236px;
	left:50%;
	margin-top:20px;
	margin-left: -500px;
}

._logo .__logo-left {
	float: left;
	display: flex;
	color: #FEFEFE;
	font-size: 14px;
	font-family: Microsoft YaHei, Georgia, Serif;
}

._logo .__top {
	margin-top: 4px;
}

._logo .__slogan {
	margin-left: 10px;
}

._logo ._head {
	float: right;
	width: 720px;
}

._head {
	position: relative;
	z-index: 100;
	min-width: 720px
}

._head .navigation-inner {
	margin: 0 auto;
	position: relative
}

.navigation-up {
	height: 60px;
}

.navigation-up .navigation {
	margin-left: 155px;
	float: left;
	_margin-left: 10px
}

.navigation-up .navigation ul {
	float: left
}

.navigation-up .navigation li {
	float: left;
	font: normal 16px/59px  Microsoft YaHei, Georgia, Serif;
	color: #fff
}

.navigation-up .navigation .nav-up-selected span{
	display: inline-block;
	color:#FD625C;
	border-bottom:2px solid #FD625C;
}

.navigation-up .navigation .nav-up-selected-inpage {
	color:#FD625C;
}

.navigation-up .navigation li h2 {
	font-weight: normal;
	padding: 0;
	margin: 0
}

.navigation-up .navigation li h2 a {
	margin: 0 25px;
	color: #fff;
	display: inline-block;
	height: 60px;
	font-family:  Microsoft YaHei, Georgia, Serif
}

.navigation-down {
	position: absolute;
	top: 62px;
	left: 0px;
	width: 100%;
}

.navigation-down .nav-down-menu {
	width: 100%;
	margin: 0;
	background:  rgba(0,0,0,0.5);
	position: absolute;
	top: 0px
}

.navigation-down .nav-down-menu .navigation-down-inner {
	position: relative
}

.navigation-down .nav-down-menu dl {
	float: left;
	margin: 18px 30px 18px 0
}

.navigation-down .menu-1 dl {
	margin: 20px 80px 25px 0
}

.navigation-down .menu-1 dt {
	font: normal 16px  Microsoft YaHei, Georgia, Serif;
	/* color: #61789e; */
	color:#fff;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px
}

.navigation-down .menu-1 dd a {
	color: #B9B9B9;
	font: normal 14px/30px  Microsoft YaHei, Georgia, Serif
}

.navigation-down .menu-1 dd a:hover {
	color: #FD625C
}

.navigation-down .menu-2 dd a,
.navigation-down .menu-3 dd a {
	color: #B9B9B9;
	font: normal 16px  Microsoft YaHei, Georgia, Serif
}

