._banner {
	height: 940px; 
	position: relative;
	background: url(../../imgs/banner/banner.png) no-repeat 0 0;
	color:#fff;
	margin:0 auto;
}
._banner  ._title1 {
	position: absolute;
	font-size: 60px;
	top: 240px;
	left:400px;
}
._banner  ._title2 {
	position: absolute;
	top: 320px;
	left:400px;
	font-size: 100px;
}
._banner  ._title3 {
	position: absolute;
	top: 550px;
	left:400px;
	font-size: 44px;
}
