._marketing {
    height: 1000px;
    background: #F5F5F6;
}

._marketing ._collaboration-height {
    width: 1000px;
    height: 800px !important;
    background: #F5F5F6 !important;
    text-align: center;
}

._marketing .mt-tabpage-title {
    background: #F5F5F6 !important;
}
._marketing .mt-tabpage-title {
    border-bottom: 2px solid #fff
}
._marketing .mt-tabpage-title .mt-tabpage-item-cur {
    border-bottom:3px solid #F85B5E
}
._marketing .mt-tabpage-count {
    background: #F5F5F6 !important;
}

._marketing ._marketing-title {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 400;
    color: #000;
}

._marketing ._retail-one {
    display: flex;
    flex-direction: column;
    height: 800px;
}

._marketing ._title {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-weight: 400;
    color: #333;
}

._marketing ._desc {
    font-size: 18px;
    padding-top: 18px;
    font-weight: 400;
    color: #666;
}

#change,
#change2 {
    width: 220px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: 400;
    color: #333;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 20px;
}

._marketing ._content {
    display: flex;
    margin-top: 50px;
}

._marketing ._content ._marketing-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 220px;
    height: 80px;
    font-size: 18px;
    color:#333;
    background: url(../../imgs/marketing/bg.png) no-repeat 0 0;
}
._marketing .mt-tabpage-title a {
    margin:0 70px;
    
}
._marketing ._content ._marketing-item:hover {
    border-left: 8px solid #FD625C;
    width: 210px;
}

._marketing ._content ._marketing-item img {
    margin: 0 20px;
    width: 28px;
    height: 26px;
}

._marketing ._content ul li {
    width: 220px;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    font-weight: 400;
    margin-left: 20px;
    color: #333;
    background-color: #fff;
    margin-bottom: 20px;
}

._marketing ._show {
    width: 700px;
    height: 580px;
    margin-left: 20px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

._marketing ._show ._show-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 24px;
}

._marketing ._show ._show-desc {
    font-size: 16px;
    color: #666;
    margin-top: 30px;
    margin-bottom: 24px;
}
._marketing ._show img{
    position: absolute;
    left:50%;
    bottom:0;
    width: 600px;
    max-height: 460px;
    margin-left:-300px;
}