._about .slideGroup {
  color: #fff;
  text-align: center;
  background-color: #fff;
}
._about .slideGroup .parHd {
  height: 36px;
  color: #111;
  line-height: 36px;
  padding: 10px 20px;
  position: relative;
  border-bottom: 10px solid #f5f5f6;
  /* margin-bottom: 20px; */
}
._about .xs {
  width: 1200px;
  margin: 0 auto;
  font-size: 18px;
}
._about .slideGroup .parHd ul {
  height: 32px;
  width: 1200px;
  display: flex;
  justify-content: center;
}
._about .slideGroup .parHd ul li {
  /* float: left; */
  margin: 0 40px;
  cursor: pointer;
}
._about .slideGroup .parHd ul li.on {
  height: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fd625c;
}
._about .slideGroup .slideBox {
  box-sizing: border-box;
  overflow: hidden;
  zoom: 1;
  position: relative;
  padding-top: 100px;
  /* width: 1300px; */
  margin: 0 auto;
}
._about .slideGroup .slideBox img {
  text-align: center;
  margin-bottom: 20px;
}
._about .slideGroup .slideBox p {
  text-align: left;
  color: #333;
  width: 1000px;
  line-height: 36px;
  font-size: 18px;
  text-indent: 36px;
  margin: 0 auto;
}
._about .slideGroup .slideBox ._environment {
  margin-top: 100px;
  height: 1000px;
  background-color: #f5f5f6;
}
._about .slideGroup .slideBox ._environment h2 {
  padding-top: 100px;
  color: #111;
  font-size: 40px;
}
._about .slideGroup .slideBox ._environment .imgs {
  padding-top: 60px;
  width: 1145px;
  margin: 0 auto;
}
._about .slideGroup .slideBox ._environment .imgs img {
  width: 379px;
  height: 340px;
}
._about ._slogn {
  text-align: left;
  padding-top:100px;
}
._about ._slogn img {
  width: 400px;
  height: 330px;
}
._about ._slogn .fr h2 {
  font-size: 40px;
  color: #111;
  margin-bottom: 40px;
}
._about ._slogn .fr h2:first-letter {
  border-bottom: 4px solid #fd625c;
}
._about ._slogn .fr h3 {
  color: #666;
  font-size: 20px;
  padding-bottom: 20px;
}
._about ._slogn .fr ._bottom {
  padding-top: 108px;
}

._about ._mission {
  color: #fff;
  text-align: center;
  height: 168px;
  background: url(../../imgs/about/ziyuan.png) no-repeat;
  background-size: cover;
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
}
._about ._mission h3 {
  font-size: 36px;
  padding-top: 40px;
}
._about ._mission h4 {
  font-size: 24px;
  padding-top: 22px;
}
._about ._responsibility {
  height: 550px;
  background-color: #f5f5f6;
}
._about ._responsibility ._title {
  font-size: 40px;
  padding-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  color: #111;
}
._about ._responsibility ul {
  text-align: left;
}
._about ._responsibility ul li {
  padding: 30px;
  float: left;
  width: 220px;
  height: 246px;
  font-size: 14px;
  color: #666666;
}
._about ._responsibility ul li + li {
  margin-left: 26px;
}
._about ._responsibility ul li ._first {
  font-size: 30px;
  color: #111;
  padding-bottom: 14px;
}
._about ._responsibility ul li ._second {
  color: #333;
  padding-bottom: 50px;
}
._about ._responsibility ul li div {
  padding-bottom: 20px;
}
._about ._responsibility ul li.one {
  background: url(../../imgs/about/bzkh-bg.png) no-repeat;
  background-size: cover;
}
._about ._responsibility ul li.two {
  background: url(../../imgs/about/xzqd-bg.png) no-repeat;
  background-size: cover;
}
._about ._responsibility ul li.three {
  background: url(../../imgs/about/cdrc-bg.png) no-repeat;

  background-size: cover;
}
._about ._responsibility ul li.four {
  background: url(../../imgs/about/cjmx-bg.png) no-repeat;
  background-size: cover;
}
._about ._vision {
  height: 230px;
  text-align: center;
  background: url(../../imgs/about/wyayj-bg.png) no-repeat;
  background-size: cover;
}
._about ._vision .one {
  font-size:40px;
  padding-top:60px;
}
._about ._vision .two {
  font-size:18px;
  padding-top:40px;
}
._about ._creed {
  height: 800px;
  text-align: left;
  background-color: #F5F5F6;
  color: #333;
}
._about ._creed ._title {
  font-size:40px;
  color: #111;
  padding-top:130px;
  text-align: center;
}
._about ._creed ._content {
  width: 1204px;
  margin: 40px auto;
}
._about ._creed ._content ._left{
  float: left;
  padding:30px;
  width: 320px;
  margin-left:20px;
  height: 442px;
  font-weight:400;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  box-shadow: 1px 1px 10px #ccc;
}
._about ._creed ._content ._left ul  {
 padding-bottom: 30px;
}
._about ._creed ._content ._left ul li {
  padding-bottom: 10px;
  color: #666;
 }
 ._about ._creed ._content ._left ul li._last {
  padding-bottom:0px;
 }
._about ._creed ._content ._left ._tittle,._about ._creed ._content ._right ._tittle{
  font-size:24px;
  color: #333;
  padding-bottom: 30px;
}
._about ._creed ._content ._left ._one{
  font-size:18px;
  color: #333;
  padding-bottom: 20px;
}

._about ._creed ._content ._right{
  float: left;
  height: 490px;
  
}
._about ._creed ._content ._right ._top{
  float: left;
}
._about ._creed ._content ._right ul li {
  padding-bottom: 4px;
}
._about ._creed ._content ._right ._box{
  width:320px;
  height:80px;
  padding:30px;
  float: left;
  margin-left:20px;
  background-color: #fff;
  box-shadow: 1px 1px 10px #ccc;
}
._about ._creed ._content ._right ._box + ._box{
margin-bottom: 20px;
}
._about ._creed ._content ._right img {
  width: 784px;
  height: 180px;
  margin-left:20px;
}

._about ._style {
  height: 720px;
  background: url(../../imgs/about/wyagz-bg.png) no-repeat;
  background-size: cover;
}
._about ._style ._tittle {
  font-size:40px;
  text-align: center;
  padding-top:80px;
  padding-bottom: 40px;
}
._about ._style ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
._about ._style ul li {
  display: inline-block;
  border-radius:4px;
  width:490px;
  height:20px;
  font-size:18px;
  color: #666;
  background-color: #fff;
  margin-bottom: 20px;
  padding:30px 50px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
}
._about ._contact {
  height: 1050px;
}
._about ._contact h3{
  font-size:40px;
  color: #111;
  padding-top:100px;
  padding-bottom: 80px;
}
._about ._contact ul li {
  font-size:18px;
  color: #666;
  padding-bottom: 40px;
}

._about ._applications .sideMenu{  border:1px solid #ddd;  }
._about ._applications .sideMenu h3{ height:32px; line-height:32px; padding-left:10px;  border-top:1px solid #e3e3e3; background:#f4f4f4; cursor:pointer;
			font:normal 14px/32px "Microsoft YaHei";
		}
    ._about ._applications .sideMenu h3 em{ float:right; display:block; width:40px; height:32px;   background:url(images/icoAdd.png) 16px 12px no-repeat; cursor:pointer; }
    ._about ._applications .sideMenu h3.on em{ background-position:16px -57px; }
    ._about ._applications .sideMenu ul{ padding:8px 25px; color:#999; display:none; /* 默认都隐藏 */ }